body{
    margin: 0;
}

/* navbar */
.nav-container{
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: rgb(0, 0, 0);
}

.navbar-logo{
    font-family: Arial, Helvetica, sans-serif;
    justify-self: start;
    margin-left: 40px;
    color: rgb(255, 184, 51);
    margin-top: 4.5vh;
    cursor: pointer;
}

.ver-carrito{
    font-size: 25px;
    margin-right: 25px;
    margin-top: 4.0vh;
    cursor: pointer;
}

/*Style banner*/
.banner{
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/730b31113991421.6033266820e87.gif")
}

.banner-container{
    text-align: center;
    padding: 15% 0;
}

.banner h1{
    margin: 0;
    color: rgb(255, 187, 0);;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 65px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
}

.banner p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    font-size: 30px;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* Title shop*/

.shop-title{
    display: grid;
    place-content: center;
    padding-top: 30px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

/* products cards*/

.shop-content{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
}

.card{
    background-color: rgba(0, 0, 0, 0.082);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 30px;
    height: 430px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card > img {
    width: 90%;
    height: 250px;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button{
    border: none;
    border-radius: 20px;
    outline: 0;
    padding: 12px 18px;
    color: white;
    background-color: black;
}

.card button:hover{
    cursor: pointer;
    background-color: rgb(255, 187, 0);
    transition: 0.3s;
}

/* modal content*/
.modal-container{
    border-radius: 35px;
    width: 80%;
    margin: 0 10%;
    max-height: 84vh;
    color: white;
    background-color: rgba(0, 0, 0, 0.842);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /*top*/
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 20vh;
    scrollbar-color: none;
    transition: 1s;

}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.modal-container::-webkit-scrollbar{
    display: none;
    
}

.modal-header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 187, 0);
    color: white;
    width: 100%;
    transition: 1s;
}

.modal-header-title{
    justify-self: start;
}

.modal-header-button{
    cursor: pointer;
}

.modal-container > .modal-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
}

.modal-container > div > img{
    height: 80px;
    width: 80px;
}

.total-content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
}

/* delete button*/
.delete-product{
    cursor: pointer;
    background-color: rgb(175, 0, 0);
    border-radius: 20px;
    padding: 9px 19px;
}

.sumar, .restar{
    margin: -30px;
    cursor: pointer;
    padding: 2px;
    border: 1px solid white;
    border-radius: 20px;
}

.sumar:hover{
    background-color: rgb(145, 145, 145);
    transition: 0.5s;
}

.restar:hover{
    background-color: rgb(145, 145, 145);
    transition: 0.5s;
}

/* cantidad en carrito*/
.cantidad-carrito{
    background-color: rgba(255, 187, 0, 0.87);
    color: white;
    border-radius: 10px;
    font-size: 12px;
    padding: 5px;
    top: 37px;
    right: 20px;
    position: absolute;
    display: none;
}



footer{
    display: grid;
    place-items: center;
    background-color: rgb(0, 0, 0);
    margin-top: 74px;

}

footer h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: rgba(255, 187, 0, 0.87);
    margin-bottom: 30px;
}

footer img{
    margin-top: 20px;
    height: 100px;
}

/* API clientes */

#api{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.74);
    padding-top: 30px;
    padding-bottom: 30px;

}

.api-container{
    
    margin-top: 70px;
    background-image: url('https://www.pgs.sk/images/data/description/REP/asus-441872-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;

    
}

.api-container h2{
    display: grid;
    place-items: center;
    padding-top: 70px;
    font-size: 40px;
    color: rgba(255, 187, 0, 0.87);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.11);
    
}
